.centred{
	margin: auto;
    width: 70%;
    padding: 10px;
}

.rightAligned {
	align-items: right;
}

body {
    background-color: #f2f2f2;
}

/*.btn {
	width: 300px;
	background-color: rgba(0, 0, 0, 0);
	font-size: 30px;
}*/

.linkText {
	font-size: 30px;
}

.searchBox {
	margin: auto;
	width: 40%;
}