.centred{
	margin: auto;
    width: 70%;
    padding: 10px;
}

.rightAligned {
	align-items: right;
}

body {
    /*background-color: #2e3642;*/
    background-image: url("images/background.jpg");
    /*color: #1e4f9e;*/
}

.container {
  transition: all linear 0.0s;
  color: #FFFFFF;
}

#footer {
	position:fixed;
	bottom:10px;
	width:100%;
	margin: 0 auto;
}

.navButton {
	height: 100px;
    width: 100px;
    border-radius: 100px;
    border: 2px solid #000;
    background-color:rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
}

#mailingListForm {
	height: 55px;
	width: 250px;
	margin: 0 auto;
	background-color:rgba(0, 0, 0, 0.5);
}