body {
    background-image: url("images/sky1.png");
    background-repeat: no-repeat;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    line-height: 26.4px;
    color: #000000;
    background-size: 100% 100%;
}

#footer {
	width:100%;
	margin: 0 auto;
    position: absolute;
    bottom: 20px;
    left: 0;
}

#nlForm {
	height: 50%;
	width: 255px;
	margin: 1 auto;
    padding: 10px;
}

.form {
    height: 50%;
    width: 100%;
    margin: 1 auto;
    padding: 10px;
}

#submitBtn, #textBox {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid;
}

/*.active {
    background-color: rgba(195, 194, 196, 0.5);
}*/

.errorMsg {
    color: #870101;
}

.successMsg {
    color: #018727;
}

#social {
    position: absolute;
    right: 0;
}

.socialIcon {
	height: 50px;
	width: 80px;
	padding: 10px;
}

.bodyContainer {
    height: 1000px;
    width: 100%;
}

#videos {
    height: 470px;
    margin: auto;
}

.carousel-indicators {
    margin: auto;
    float: left;
    /*border: 15px solid;*/
    width: 50%;
}

.scrollableContainer {
    /*height: 1000px;*/
    /*overflow-y: scroll;*/
    /*background-color:rgba(0, 0, 0, 0.5);*/
    width: 100%;
}

.contactForm {
    width: 400px;
    background-color: rgba(0, 0, 0, 0);
    margin: auto;
    border: 1px solid;
}

.conFormContainer, .bookingContainer {
    /*background-color: rgba(0, 0, 0, 0.5);*/
    width: 400px;
    margin: auto;
}

.headerImageContainer {
    text-align: center;
}

#body {
    height: 660px;
    position: relative;
}

.contactFormLabels {
    margin: auto;
    text-align: center;
}

.topNav > ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    width: 60%;
    background-color: #f1f1f1;
    /*border: 1px solid #555;*/
    /*background-color: #dddddd;*/
}

.topNav > ul > li a {
    display: block;
    padding: 20px;
    /*background-color: #dddddd;*/
    color: #000000;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 20px;
    /*font-weight: 50;*/
    text-decoration: none;
    /*line-height: 26.4px;*/
}

.topNav > ul > li {
    display: inline;
    float: left;
}

.social > li > ul > li {
    display: inline;
    float: left;
}

.social > li {
    display: inline;
    float: left;
}

li {
    display: inline;
    /*float: left;*/
}

/* Change the link color on hover */
.topNav > ul > li a:hover {
    /*background-color: #555;*/
    color: white;
}

.active {
    /*background-color: #818D92;*/
    color: white;
    border-bottom: 2px solid;
}

.newsletterForm {
    float: left;
}

.social{
    
    position: absolute; 
    bottom: 0;
    right: 0;
    /*float: right;*/
}

p {
    font-size: 15px;
}

#musicList {
    max-height: 480px;
}

.musicFrame {
    width: 100%;
    height: 120px;
    float: right;
}

#musicListWrapper {
    width: 90%;
    margin: auto;
    text-align: center;
    
}

#mixCloudFollow {
    float: left;
}