body {
    background-color: #2e3642;
    background-image: url("images/abstrack-background.jpg");
    background-repeat: no-repeat;
    font-family: Geneva, Tahoma, Verdana, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    line-height: 26.4px;
    color: #FFFFFF;
    background-size: 100% 100%;
}

#footer {
	bottom:10px;
	width:100%;
	margin: 0 auto;
    background-color:rgba(0, 0, 0, 0.5);
}

.navButton {
	height: 80px;
    width: 80px;
    border-radius: 80px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color:rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    outline: none;
}

#nlForm {
	height: 80%;
	width: 255px;
	margin: 1 auto;
	/*background-color:rgba(0, 0, 0, 0.5);*/
    padding: 10px;
}

.form {
    height: 80%;
    width: 100%;
    margin: 1 auto;
    padding: 10px;
}

#submitBtn {
    background-color: rgba(0, 0, 0, 0.5);
}

#textBox {
    background-color: rgba(0, 0, 0, 0.5);
}

.active {
    background-color: rgba(195, 194, 196, 0.5);
}

.errorMsg {
    color: #870101;
}

.successMsg {
    color: #018727;
}

#social {
    position: absolute;
    right: 0;
}

.socialActions {
	background-color:rgba(0, 0, 0, 0.5);
}

.socialIcon {
	height: 60px;
	width: 80px;
	padding: 10px;
}

.bodyContainer {
    height: 1000px;
    /*background-color: red;*/
    width: 100%;
    /*overflow-y: scroll;*/
}

.scrollableContainer {
    /*height: 1000px;*/
    /*overflow-y: scroll;*/
    /*background-color:rgba(0, 0, 0, 0.5);*/
    /*width: 50%;*/
}

#videoCarousel {
    height: 520px;
}

.contactForm {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: auto;
}

.conFormContainer, .bookingContainer {
    background-color: rgba(0, 0, 0, 0.5);
    width: 400px;
    margin: auto;
}

.headerImageContainer {
    text-align: center;
    /*background-color: rgba(0, 0, 0, 0.5);*/
    /*background-color: rgba(247, 249, 249, 0.5);*/
}

#body {
    height: 550px;
}

#contactView {
    /*background-color: rgba(0, 0, 0, 0.5);*/
}

.contactFormLabels {
    margin: auto;
    text-align: center;
}







