<div class="container">
	<div class="row">
	<div class="col-lg-4 col-md-4 col-sm-3 col-xs-1"></div>
	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-10">
		<form id="conForm" novalidate name="contactForm">
		<h3 class="contactFormLabels">{{successMessage}}</h3>
		<h3></h3>
			<input class="form-control transparent contactForm" id="nameTextBox" type="text" required name="name" placeholder="Name" ng-model="contact.name">
			<br>
			<input class="form-control transparent contactForm" id="to" required type="email" name="email" placeholder="Email address" ng-model="contact.email">
			<br>
			<textarea class="form-control transparent contactForm" id="text" required name="message" placeholder="Message" ng-model="contact.message">
			</textarea>
			<span><input type="checkbox" name="mailingListCheckbox" ng-model="check">&nbsp;&nbsp;Sign up to our mailing list</span>
			<br>
			<br>
			<button class="form-control contactForm" id="submitBtn" ng-disabled="contactForm.$invalid" ng-click="sendMessage(contact); validateContactEmail()">Send</button>
			<span id="message"></span>
			<br>
			<br>
		</form>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-3 col-xs-1"></div>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-3 col-xs-1">
		<h3 class="contactFormLabels">Booking</h3>
		<h5 class="contactFormLabels">bernardcooley@gmail.com</h5>
	</div>
</div>






















<!-- <div id="contactView" class="container">

<h3 class="contactFormLabels">Contact</h3>
<br>
	
	<table class="table1">
		<thead>
		</thead>
		<tbody>
			<tr>
				<div class="conFormContainer">
					<form id="conForm" novalidate name="contactForm">

						<input class="form-control transparent contactForm" id="nameTextBox" type="text" required name="name" placeholder="Name" ng-model="contact.name">
						<br>
						<input class="form-control transparent contactForm" id="to" required type="email" name="email" placeholder="Email address" ng-model="contact.email">
						<br>
						<textarea class="form-control transparent contactForm" id="text" required name="message" placeholder="Message" ng-model="contact.message">
						</textarea>
						<br>
						<button class="form-control contactForm" id="submitBtn" ng-disabled="contactForm.$invalid" ng-click="sendMessage(contact)">Send</button>
						<span id="message"></span>
					</form>
					</div>
					<br>
					<br>
					<div class="bookingContainer">
					<h3 class="contactFormLabels">Booking</h3>

					<h5 class="contactFormLabels">bernardcooley@gmail.com</h5>
					</div>
			</tr>
		</tbody>
	</table>
		<br>
		<br>
	</div> -->