<div class="container" id="homePage" ng-show="show">
	<div class="row">
		<div class="col-lg-6">
			<p>
			Cooley’s melodic leads, cinematic pads, and throbbing bass lines are the result of a lifetime of musical interest that spanned many genres, including indie, rock, electronica, trance, hard house, and techno. 
			</p>
			<p>
			In his career to date, Cooley has run his own successful clubnight “Silk” in his home town, performed along side acts such as Hot Chip, Josh Gabriel, and Phil Kieran. Cooley currently hosts the show “Narrow Networks” on London’s Hoxton FM, and has the pleasure of having his music regularly played on BBC radio 1, plus various national and regional Radio shows across the globe. 
			</p>
			<p>
			Cooley has been producing music since 2008 and has had regular releases on various record labels since 2012.
			</p>
		</div>
		<div class="col-lg-6">
			<div class="homeImages"><img src="images/me/celtronic-1.jpg" height="100%" width="100%"></div>
		</div>
	</div>
	<br>
	<br>
	<div class="row">
		<div class="col-lg-6">
			<div class="homeImages"><img src="images/lights-night-dark-abstract.jpeg" height="100%" width="100%"></div>
		</div>
		<div class="col-lg-6">
			<p>
			Cooley has been heavily influenced by the work of Bonobo, Dark Sky, and Henry Saiz to name a few. Studying the rhythm and carefully places randomness in Bonobo’s drum sequences, and the great use of melodies and musical scales has taught Cooley the art of, and importance of originality in electronic music. 
			</p>
			<p>
			The emotion involved in Dark Sky’s tracks and the balance between bass lines and melodic leads has influenced Cooley’s ability to harness contrasts in frequencies and to play one off the other to create diverse rhythms. 
			</p>
			<p>
			Henry Saiz’s perfectly produced tracks has given Cooley a goal as to how clean and crisp an electronic track should sound, and his slightly detuned leads and sequences that evolve constantly have pushed Cooley into thinking more about how a track should always be changing.
			</p>
		</div>
	</div>
</div>