<div class="container" id="homePage" ng-show="show">
	<p>
	Cooley is a Techno, Tech-house, and Electronica music artist, producer, and performer based in London. He started to dj when he was 20 and has played for clubnights such as Celtronic, Jika Jika, Deep Fried Funk, Red Rooms, etc... supporting acts like Hot Chip, Josh Gabriel, Phil Kieran, and Japanese Popstars, etc...
	</p>

	<p>
	Cooley started teaching himself the art of production with Ableton Live, and after a few years, began to produce music that excited, and exhilarated his fans.
	</p>

	<p>
	Cooley's music has been described by BBC radio as "Rich in depth, timbre and texture, which epitomises the top-tier, intelligent dance music with which he has become synonymous. It manages to be hopeful, thoughtful and melodic while remaining toe-tappingly infectious."
	</p>

	<p>
	Cooley released his debut EP in April 2012 on Sonnet Speciale Records, his second in Nov 2012 on La Tech-Maison Records, and another 4 track EP in december on Six Recordings, plus an appearance on a VA album by La Tech Maison Records Cooley's music is rapidly becoming more sought after by labels having had his music played on BBC Radio 1, Radio Ulster, and Radio Foyle. Cooley continues to release music with most recent releases on Bacci Bros Records.
	</p>
</div>