<div class="container" id="musicContainer" ng-show="show">
	<div id="mixCloudFollow">
		<iframe width="200" height="550" src="https://www.mixcloud.com/widget/follow/?u=https%3A%2F%2Fwww.mixcloud.com%2FBernardCooley%2F" frameborder="0"></iframe>
	</div>
	<div id="musicList" ng-scrollbar rebuild-on-resize>
		<div id="musicListWrapper">
			<ul>
				<li>
					<iframe class="musicFrame" src="https://www.mixcloud.com/widget/iframe/?feed=https%3A%2F%2Fwww.mixcloud.com%2FBernardCooley%2Fcooley-the-wired-show-nov-2016%2F&hide_cover=1&light=1" frameborder="0"></iframe>
				</li>
				<li>
					<iframe class="musicFrame" src="https://www.mixcloud.com/widget/iframe/?feed=https%3A%2F%2Fwww.mixcloud.com%2FBernardCooley%2Fthatboy-tim-cooley-resonate-hoxton-fm-radio-01-09-2016%2F&hide_cover=1&light=1" frameborder="0"></iframe>
				</li>
				<li>
					<iframe class="musicFrame" src="https://www.mixcloud.com/widget/iframe/?feed=https%3A%2F%2Fwww.mixcloud.com%2FBernardCooley%2Fcooley-vinyl-promo-mix-summer-16%2F&hide_cover=1&light=1" frameborder="0"></iframe>
				</li>
				<li>
					<iframe class="musicFrame" src="https://www.mixcloud.com/widget/iframe/?feed=https%3A%2F%2Fwww.mixcloud.com%2FBernardCooley%2Fcooley-winter-2013-techno-mix%2F&hide_cover=1&light=1" frameborder="0"></iframe>
				</li>
				<li>
					<iframe class="musicFrame" src="https://www.mixcloud.com/widget/iframe/?feed=https%3A%2F%2Fwww.mixcloud.com%2FBernardCooley%2Fcooley-live-promo-sept-2012%2F&hide_cover=1&light=1" frameborder="0"></iframe>
				</li>
			</ul>
		</div>
	</div>
</div>