<div class="container">
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">

      <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <h4 class="navbar-toggle1" ng-init="currentPage = 'Home'">&nbsp;&nbsp;&nbsp;{{currentPage}}</h4>
    </div>

    <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
    
      <ul class="nav navbar-nav">
      <li class=""><a ng-click="navCollapsed = !navCollapsed; changeView('home'); currentPage='Home'" href="" ng-class="{active: isActive('/')}">Home</a></li>
        <li class=""><a ng-click="navCollapsed = !navCollapsed; changeView('about'); currentPage='About'" href="" ng-class="{active: isActive('/about')}">About</a></li>
        
        <li dropdown>
          <a href="" dropdown-toggle>Media<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a ng-click="navCollapsed = !navCollapsed; changeView('photos'); currentPage='Photos'" href="" ng-class="{active: isActive('/photos')}">Photos</a></li>
            <li><a ng-click="navCollapsed = !navCollapsed; changeView('videos'); currentPage='Videos'" href="" ng-class="{active: isActive('/videos')}">Videos</a></li>
          </ul>
        </li>
        
        <li dropdown>
          <a href="" dropdown-toggle>Music<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a ng-click="navCollapsed = !navCollapsed; changeView('releases'); currentPage='Releases'" href="" ng-class="{active: isActive('/releases')}">Releases</a></li>
            <li><a ng-click="navCollapsed = !navCollapsed; changeView('music'); currentPage='Mixes'" href="" ng-class="{active: isActive('/music')}">Mixes</a></li>
          </ul>
        </li>
        <li><a ng-click="navCollapsed = !navCollapsed; changeView('gigs'); currentPage='Gigs'" href="" ng-class="{active: isActive('/gigs')}">Gigs</a></li>
        <li><a ng-click="navCollapsed = !navCollapsed; changeView('contact'); currentPage='Contact'" href="" ng-class="{active: isActive('/contact')}">Contact</a></li>
      </ul>
    </div>
  </nav>
</div>
