<div class="container">
	<div class="row">
		<div class="col-lg-2 col-md-4 col-sm-5 text-center">
			<a href="" ng-class="{active: isActive('/')}" ng-click="changeView('home')">Home</a>
		</div>
		<div class="col-lg-2 col-md-4 col-sm-5 text-center">
			<a href="" ng-class="{active: isActive('/about')}" ng-click="changeView('about')">About</a>
		</div>
		<div class="col-lg-2 col-md-4 col-sm-5 text-center">
			<a href="" ng-class="{active: isActive('/music')}" ng-click="changeView('music')">Music</a>
		</div>
		<div class="col-lg-2 col-md-4 col-sm-5 text-center">
			<a href="" ng-class="{active: isActive('/photos')}" ng-click="changeView('photos')">Photos</a>
		</div>
		<div class="col-lg-2 col-md-4 col-sm-5 text-center">
			<a href="" ng-class="{active: isActive('/gigs')}" ng-click="changeView('gigs')">Gigs</a>
		</div>
		<div class="col-lg-2 col-md-4 col-sm-5 text-center">
			<a href="" ng-class="{active: isActive('/contact')}" ng-click="changeView('contact')">Contact</a>
		</div>
	</div>
</div>
