<div class="navigation">

	<div class="topNav">
		<ul>
			<li>
				<a href="" ng-class="{active: isActive('/')}" ng-click="changeView('home')">Home</a>
			</li>
			<li>
				<a href="" ng-class="{active: isActive('/about')}" ng-click="changeView('about')">About</a>
			</li>
			<li>
				<a href="" ng-class="{active: isActive('/music')}" ng-click="changeView('music')">Music</a>
			</li>
			<li>
				<a href="" ng-class="{active: isActive('/photos')}" ng-click="changeView('photos')">Photos</a>
			</li>
			<li>
				<a href="" ng-class="{active: isActive('/videos')}" ng-click="changeView('videos')">Videos</a>
			</li>
			<li>
				<a href="" ng-class="{active: isActive('/gigs')}" ng-click="changeView('gigs')">Gigs</a>
			</li>
			<li>
				<a href="" ng-class="{active: isActive('/contact')}" ng-click="changeView('contact')">Contact</a>
			</li>
		</ul>
	</div>

















	<!-- <div class="container table-responsive headerContainer"> -->
		<!-- <br>
		<br>
		<br> -->
		<!-- <table class="table navIcons">
			<thead>
			</thead>
			<tbody>
				<tr>
					<td align="center">
						<button class="navButton" ng-class="{active: isActive('/')}" ng-click="changeView('home')">Home</button>
					</td>
					<td align="center">
						<button class="navButton" ng-class="{active: isActive('/about')}" ng-click="changeView('about')">About</button>
					</td>
					<td align="center">
						<button class="navButton" ng-class="{active: isActive('/music')}" ng-click="changeView('music')">Music</button>
					</td>
					<td align="center">
						<button class="navButton" ng-class="{active: isActive('/photos')}" ng-click="changeView('photos')">Photos</button>
					</td>
					<td align="center">
						<button class="navButton" ng-class="{active: isActive('/videos')}" ng-click="changeView('videos')">Videos</button>
					</td>
					<td align="center">
						<button class="navButton" ng-class="{active: isActive('/gigs')}" ng-click="changeView('gigs')">Gigs</button>
					</td>
					<td align="center">
						<button class="navButton" ng-class="{active: isActive('/contact')}" ng-click="changeView('contact')">Contact</button>
					</td>
				</tr>
			</tbody>
		</table> -->
	<!-- </div> -->
</div>