<div class="container scrollableContainer" ng-show="show">
	<div id="photos" class="carousel">
		<ol class="carousel-indicators">
			<li data-target="#photos" data-slide-to="0" class="active"></li>
			<li data-target="#photos" data-slide-to="1"></li>
			<li data-target="#photos" data-slide-to="2"></li>
			<li data-target="#photos" data-slide-to="3"></li>
			<li data-target="#photos" data-slide-to="4"></li>
			<li data-target="#photos" data-slide-to="5"></li>
		</ol>

		<div class="carousel-inner">
			<div class="item active" align="middle">
				<img src="images/me/celtronic-1.jpg" alt="" class="img-responsive">
				<div class="carousel-caption">
					<h3>Celtronic | Derry | 2014</h3>
				</div>
			</div>
			<div class="item" align="middle">
				<img src="images/me/hoxton-1.jpg" alt="" class="img-responsive">
				<div class="carousel-caption">
					<h3>Hoxton FM | London | 2016</h3>
				</div>
			</div>
			<div class="item" align="middle">
				<img src="images/me/wire-show-1.jpg" alt="" class="img-responsive">
				<div class="carousel-caption">
					<h3>Reel Rebels Radio | London | 2016</h3>
				</div>
			</div>
			<div class="item" align="middle">
				<img src="images/me/keyboards-1.jpg" alt="" class="img-responsive">
				<div class="carousel-caption">
					<h3>Back yard | 2013</h3>
				</div>
			</div>
			<div class="item" align="middle">
				<img src="images/me/roddens-1.jpg" alt="" class="img-responsive">
				<div class="carousel-caption">
					<h3>Roddens | Buncrana | 2015</h3>
				</div>
			</div>
			<div class="item" align="middle">
				<img src="images/me/silk-halloween.jpg" alt="" class="img-responsive">
				<div class="carousel-caption">
					<h3>Silk | Buncrana | 2014</h3>
				</div>
			</div>
		</div>

		<a class="carousel-control left" href="#photos" data-slide="prev">
			<span class="icon-prev"></span>
		</a>
		<a class="carousel-control right" href="#photos" data-slide="next">
			<span class="icon-next"></span>
		</a>

	</div>



</div>