<div class="container scrollableContainer" ng-show="show">
	<div id="videos" class="carousel">
		<ol class="carousel-indicators">
			<li data-target="#videos" data-slide-to="0" class="active"></li>
			<li data-target="#videos" data-slide-to="1"></li>
			<li data-target="#videos" data-slide-to="2"></li>
			<li data-target="#videos" data-slide-to="3"></li>
			<li data-target="#videos" data-slide-to="4"></li>
			<li data-target="#videos" data-slide-to="5"></li>
			<li data-target="#videos" data-slide-to="6"></li>
			<li data-target="#videos" data-slide-to="7"></li>
			<li data-target="#videos" data-slide-to="8"></li>
			<li data-target="#videos" data-slide-to="9"></li>
			<li data-target="#videos" data-slide-to="10"></li>
		</ol>

		<div class="carousel-inner">
			<div class="item active" align="middle">
				<iframe width="700" height="460" src="https://www.youtube.com/embed/hja7OLQy3IQ" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="item" align="middle">
				<iframe width="700" height="460" src="https://www.youtube.com/embed/EivBI--j8Io" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="item" align="middle">
				<iframe width="700" height="460" src="https://www.youtube.com/embed/uhuF4Wp86lY" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="item" align="middle">
				<iframe width="700" height="460" src="https://www.youtube.com/embed/KsWDhgrBpIc" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="item" align="middle">
				<iframe width="700" height="460" src="https://www.youtube.com/embed/6EjrdBd08VU" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="item" align="middle">
				<iframe width="700" height="460" src="https://www.youtube.com/embed/PrnI1QCj7jM" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="item" align="middle">
				<iframe width="700" height="460" src="https://www.youtube.com/embed/_WyFbLsOoLo" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="item" align="middle">
				<iframe width="700" height="460" src="https://www.youtube.com/embed/FghcZLpnIb0" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="item" align="middle">
				<iframe width="700" height="460" src="https://www.youtube.com/embed/XEhRTNEfbu0" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="item" align="middle">
				<iframe width="700" height="460" src="https://www.youtube.com/embed/RAUqNkileO8" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="item" align="middle">
				<iframe width="700" height="460" src="https://www.youtube.com/embed/oC_AAHcxp2I" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>

		<a class="carousel-control left" href="#videos" data-slide="prev">
			<span class="icon-prev"></span>
		</a>
		<a class="carousel-control right" href="#videos" data-slide="next">
			<span class="icon-next"></span>
		</a>

	</div>







	

	<!-- <table class="table" width="100%">
		<thead>
		</thead>
		<tbody>
			<tr ng-repeat="url in urlList">
				<td align="center">
					<ng-youtube-embed url=url theme="dark" color="white" disablekb="true" height="200" width="350"></ng-youtube-embed>
				</td>
			</tr>

		</tbody>
	</table> -->
</div>